/* MY CSS */
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  text-align: center;
}

#projects {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

img {
  align-self: center;
}

#view-project {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #0ddc99;
  cursor: pointer;
  font-size: 1rem;
  margin-top: auto;
}

#view-project:hover {
  background-color: #099267;
  color: white;
}

.project {
  transition: transform 0.25s;
}

.flip-card * {
  margin: 0;
}

.flip-card {
  background-color: transparent;
  width: 16rem;
  height: 24rem;
  /* perspective: 1000px; */
  color: black;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.click {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: 0.5rem 0.5rem 1rem rgb(255, 129, 150);
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f2f0ef;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Style the back side */
.flip-back {
  transform: rotateY(180deg);
  text-align: start;
}

#contacts {
  width: 24rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.15rem;
  gap: 1rem;
}

.contact {
  display: flex;
  cursor: pointer;
  width: 10rem;
  justify-content: center;
  gap: 0.25rem;
  transition: transform 0.2s;
  -webkit-tap-highlight-color: transparent;
}

.contact > p {
  align-self: center;
  margin: 0;
}

#name-heading {
  margin-top: 3rem;
  margin-bottom: 0rem;
  font-size: 3rem;
}

#title-heading {
  margin-top: 0rem;
  margin-bottom: 2rem;
}

#projects-heading {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#description {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

#more-information {
  margin-top: auto;
  font-weight: bolder;
  color: #099267;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }

  .project:hover {
    transform: scale(1.1);
  }

  .contact:hover {
    transform: scale(1.1);
    opacity: 80%;
  }
}

svg {
  margin-top: auto;
  margin-bottom: auto;
}
