* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

#projects {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

img {
  align-self: center;
}

#view-project {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #f74972;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  margin-top: auto;
}

#view-project:hover {
  background-color: #c53a5a;
}

.project {
  transition: transform 0.1s;
}

.project:hover {
  transform: scale(1.1);
}

.flip-card * {
  margin: 0;
}

.flip-card {
  background-color: transparent;
  width: 16rem;
  height: 24rem;
  /* perspective: 1000px; */
  color: black;
  cursor: pointer;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.click {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: 0.5rem 0.5rem 1rem rgb(255, 129, 150);
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f2f0ef;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Style the back side */
.flip-back {
  transform: rotateY(180deg);
  text-align: start;
}
