* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

#projects {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.project {
  width: 16rem;
  margin: auto;
  background-color: transparent;
  color: black;
  transition: transform 0.25s;
}

/* .project > * {
  margin: 0;
} */

img {
  margin: auto !important;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #f74972;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

/* .project {
  background-color: transparent;
  width: 600px;
  height: 600px;
  border: 1px solid #f1f1f1;
} */

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip .inner {
  /* transform: scale(1.1); */
  transform: rotateY(180deg);
  /* transition: all 0.25s; */
}

.project:hover {
  transform: scale(1.1);
  transition: all 0.25s;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgb(255, 129, 150);
  height: auto;
}

.front {
  background-color: #f2f0ef;
}

/* Style the back side */
.back {
  background-color: #f2f0ef;
  transform: rotateY(180deg);
}
