/* ROOT STYLING */
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  color: white;
  font-family:
    Calibri,
    Candara,
    Segoe,
    Segoe UI,
    Optima,
    Arial,
    sans-serif;
}

main {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

img {
  align-self: center;
}

svg {
  margin-top: auto;
  margin-bottom: auto;
}

/* ELEMENT MARGINS */
#name-heading {
  margin: 2rem auto 0;
  font-size: 3rem;
}

#title-heading {
  margin: 0 auto 2rem;
}

#projects-heading {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

#description {
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
}

#more-information {
  margin-top: 2rem;
  font-weight: bolder;
  color: #ff8196;
}

#img-256 {
  display: none;
}

/* MAIN STYLES */
#projects {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.project {
  transition: transform 0.25s;
}

#contacts {
  width: 24rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.15rem;
  gap: 1rem;
}

.contact {
  display: flex;
  cursor: pointer;
  width: 10rem;
  justify-content: center;
  gap: 0.25rem;
  transition: transform 0.2s;
  -webkit-tap-highlight-color: transparent;
  background-color: #222426;
  padding: 0.5rem;
  border-radius: 1rem;
}

.contact > p {
  align-self: center;
  margin: 0;
}

#view-project-button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ff8196;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 2rem;
}

#view-project-button:hover {
  background-color: #914854;
  color: white;
}

/* FLIPPING ANIMATION */
.flip-card * {
  margin: 0;
}

.flip-card {
  background-color: transparent;
  width: 16rem;
  /* perspective: 1000px; */
  color: black;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.flip-inner {
  position: relative;
  width: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.click {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: 0rem 0rem 0.75rem #ff8196;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #222426;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
}

.flip-back {
  transform: rotateY(180deg);
  text-align: start;
}

/* MEDIA QUERIES */
@media screen and (hover) {
  .project:hover {
    transform: scale(1.1);
  }

  .contact:hover {
    transform: scale(1.1);
    opacity: 80%;
  }
}

@media screen and (max-width: 400px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (min-height: 800px) and (orientation: landscape) {
  :root {
    font-size: 18px;
  }

  #img-192 {
    display: none;
  }

  #img-256 {
    display: block;
  }
}

@media screen and (min-height: 1200px) {
  :root {
    font-size: 20px;
  }

  #name-heading {
    margin: 4rem auto 0;
    font-size: 3rem;
  }

  #title-heading {
    margin: 0 auto 2rem;
  }

  #projects-heading {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }

  #description {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
  }

  #more-information {
    margin-top: 2rem;
    font-weight: bolder;
    color: #ff8196;
  }
}
